# ASSIGNMENT 3
**Topic: Chapter 5 & Chapter 6**
- Due: 30th December 2023
- Mode: Group Assignment (Not more than 3 students per group)
- Submission: E-Learning


### Group Members

| Name                                     | Matrix Number | Task |
| :---------------------------------------- | :-------------: | ------------- |
|MUHAMAMD HARITH HAKIM BIN OTHMAN          | A21EC0205   |  Q1   |
| FU WANQIAN          | X23EC0004    | Q3    |
|IZZAT HAQEEMI BIN HAIRUDIN         |A21EC0033      |  Q3  |
|MUHAMMAD AMIR JAMIL BIN JAMLUS          | A21EC0202     | Q2   |

### QUESTION 1


(a)	Read the ``Diabetes Dataset.csv`` and save the data into a DataFrame.

In [1]:
# WRITE YOUR CODE HERE

import pandas as pd

df = pd.read_csv('Diabetes Dataset.csv')
df

,No_Times_Pregnant,Plasma_Glucose,Diastolic,Triceps,Insulin,BMI,Diabetes_Pedigree,Age
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63
764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30
766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47
767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23

(b)	What is the shape of the DataFrame?

In [2]:
# WRITE YOUR CODE HERE

df.shape

(768, 8)

(c)	Get the number of missing values for each column.

In [3]:
# WRITE YOUR CODE HERE

missing_val = df.isnull().sum()
missing_val

No_Times_Pregnant    111
Plasma_Glucose         7
Diastolic             36
Triceps              228
Insulin              375
BMI                   14
Diabetes_Pedigree      1
Age                    0
dtype: int64

(d)	Fill in all the missing values in column No_Times_Pregnant with value 1.

In [4]:
# WRITE YOUR CODE HERE

df['No_Times_Pregnant'].fillna(1, inplace=True)

(e)	Drop all rows which contains less than 4 observation values.

In [5]:
# WRITE YOUR CODE HERE

threshold = 4
df_drop4 = df.dropna(thresh=threshold, inplace=True)

(f)	Fill in all the missing values in below columns with the given values or methods:

<br>
<img src="Figure 1.png", style="width: 350px";>

In [6]:
# WRITE YOUR CODE HERE

df_mean = df['Plasma_Glucose'].mean()
df['Plasma_Glucose'].fillna(df_mean, inplace=True)

In [7]:
df['Diastolic'].fillna(method = 'ffill', inplace=True)

In [8]:
df['Triceps'].fillna(method = 'bfill', inplace=True)

In [9]:
df_mean1 = df['Insulin'].mean()
df['Insulin'].fillna(df_mean, inplace=True)

In [10]:
df_median = df['BMI'].median()
df['BMI'].fillna(df_mean, inplace=True)

(g)	Check back the number of missing values for each column. It should now be 0 for all the columns.

In [11]:
# WRITE YOUR CODE HERE

missing_val = df.isnull().sum()
missing_val

No_Times_Pregnant    0
Plasma_Glucose       0
Diastolic            0
Triceps              0
Insulin              0
BMI                  0
Diabetes_Pedigree    0
Age                  0
dtype: int64

(h)	Bin the age into below categories. How many patients with diabetes for each category?

<br>
<img src="Figure 2.png", style="width: 150px";>

In [12]:
# WRITE YOUR CODE HERE
bin_age = [20, 30, 40, 50, 60, 70, 80, 90]
bin_labels = ['20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80-89']

In [13]:
df['Age_Category'] = pd.cut(df['Age'], bins=bin_age, labels=bin_labels, right=False)
diabetes_category = df[df['Diabetes_Pedigree'] > 0].groupby('Age_Category').size()
print("Number of patients with diabetes for each age category:", diabetes_category)

Number of patients with diabetes for each age category: Age_Category
20-29    395
30-39    163
40-49    118
50-59     57
60-69     29
70-79      2
80-89      1
dtype: int64

### QUESTION 2

(a)	Read the ``Live births by state and sex.xlsx`` and save the data into a DataFrame.

In [14]:
import pandas as pd

In [15]:
# WRITE YOUR CODE HERE
live_data = pd.read_excel("Live births by state and sex.xlsx")
live_data.head(5)

   Year     State     Sex  Number of Live births
0  2018     Johor  Female                  29428
1  2018     Johor    Male                  31656
2  2018     Kedah  Female                  17181
3  2018     Kedah    Male                  18462
4  2018  Kelantan  Female                  18376

(b)	Read another file named ``Death by state and sex.xlsx`` and save it into another DataFrame.

In [16]:
# WRITE YOUR CODE HERE
death_data = pd.read_excel("Death by state and sex.xlsx")
death_data.head(5)

   Year     State     Sex  Number of death
0  2018     Johor  Female             8733
1  2018     Johor    Male            12384
2  2018     Kedah  Female             6336
3  2018     Kedah    Male             8216
4  2018  Kelantan  Female             4984

(c)	Merge both files.

In [17]:
# WRITE YOUR CODE HERE
merged_live_death = pd.merge(live_data, death_data, suffixes=('_left', '_right'))
merged_live_death

     Year              State     Sex  Number of Live births  Number of death
0    2018              Johor  Female                  29428             8733
1    2018              Johor    Male                  31656            12384
2    2018              Kedah  Female                  17181             6336
3    2018              Kedah    Male                  18462             8216
4    2018           Kelantan  Female                  18376             4984
..    ...                ...     ...                    ...              ...
299  2009         Terengganu    Male                  12152             3491
300  2009  W.P. Kuala Lumpur  Female                  12612             2662
301  2009  W.P. Kuala Lumpur    Male                  13252             3808
302  2009        W.P. Labuan  Female                    804               94
303  2009        W.P. Labuan    Male                    845              153

[304 rows x 5 columns]

In [18]:
merged_live_death2 = pd.merge(live_data, death_data, suffixes=('_left', '_right'))
merged_live_death2

     Year              State     Sex  Number of Live births  Number of death
0    2018              Johor  Female                  29428             8733
1    2018              Johor    Male                  31656            12384
2    2018              Kedah  Female                  17181             6336
3    2018              Kedah    Male                  18462             8216
4    2018           Kelantan  Female                  18376             4984
..    ...                ...     ...                    ...              ...
299  2009         Terengganu    Male                  12152             3491
300  2009  W.P. Kuala Lumpur  Female                  12612             2662
301  2009  W.P. Kuala Lumpur    Male                  13252             3808
302  2009        W.P. Labuan  Female                    804               94
303  2009        W.P. Labuan    Male                    845              153

[304 rows x 5 columns]

(d)	Set the index as figure below.

<br>
<img src="Figure 3.png", style="width: 450px";>

In [19]:
merged_live_death.set_index(['Year', 'State'], inplace=True)
merged_live_death

                           Sex  Number of Live births  Number of death
Year State
2018 Johor              Female                  29428             8733
     Johor                Male                  31656            12384
     Kedah              Female                  17181             6336
     Kedah                Male                  18462             8216
     Kelantan           Female                  18376             4984
...                        ...                    ...              ...
2009 Terengganu           Male                  12152             3491
     W.P. Kuala Lumpur  Female                  12612             2662
     W.P. Kuala Lumpur    Male                  13252             3808
     W.P. Labuan        Female                    804               94
     W.P. Labuan          Male                    845              153

[304 rows x 3 columns]

(e)	Display the number of live births and number of deaths for all the years (2009-2018) as below.

<br>
<img src="Figure 4.png", style="width: 300px";>

In [20]:
# WRITE YOUR CODE HERE
result_df = merged_live_death.groupby('Year').agg({
    'Number of Live births': 'sum',
    'Number of death': 'sum'
})
result_df.sort_index(ascending=False)

      Number of Live births  Number of death
Year
2018                 501945           172031
2017                 276496            94694
2016                 508203           162201
2015                 521136           155786
2014                 528612           150318
2013                 476897           133949
2012                 499015           130626
2011                 511594           127368
2010                 437605           123356
2009                 496313           123763

(f)	Swap the level as figure below.

<br>
<img src="Figure 5.png", style="width: 450px";>

In [21]:
# WRITE YOUR CODE HERE
df_switched = merged_live_death2.set_index(['State', 'Year']).sort_index(level='State')
df_switched

                        Sex  Number of Live births  Number of death
State          Year
Johor          2009  Female                  27386             6587
               2009    Male                  29631             9384
               2011  Female                  28205             6875
               2011    Male                  29962             9604
               2012  Female                  29230             7212
...                     ...                    ...              ...
W.P. Putrajaya 2016    Male                   1342               86
               2017  Female                   1219              106
               2017    Male                   1298              123
               2018  Female                   1149               98
               2018    Male                   1251              120

[304 rows x 3 columns]

(g)	Display the number of live births and number of deaths for all states as below.

<br>
<img src="Figure 6.png", style="width: 300px";>

In [22]:
# WRITE YOUR CODE HERE

result_df = merged_live_death.groupby('State').agg({
    'Number of Live births': 'sum',
    'Number of death': 'sum'
})
result_df

                   Number of Live births  Number of death
State
Johor                             474661           145145
Kedah                             323149           114959
Kelantan                          377024           104573
Melaka                            140550            48684
Negeri Sembilan                   178570            63879
Pahang                            244748            73795
Perak                             360604           168525
Perlis                             42714            17664
Pulau Pinang                      220445            98109
Sabah                             439363            51473
Sarawak                           404715           118670
Selangor                         1042680           225139
Terengganu                        234401            57769
W.P. Kuala Lumpur                 231038            65858
W.P. Labuan                        15797             2279
W.P. Putrajaya                     27357            17571

### QUESTION 3
Given a dataset ``Tallest Building.csv`` that contains the list of the world's tallest buildings.


(a)	Read the dataset and save into a data frame named ``tallest``. Display the first 8 rows of the data frame.

In [23]:
# WRITE YOUR CODE HERE
import pandas as pd
tallest = pd.read_csv('Tallest Building.csv')
tallest.head(8)

,Category,Structure,Country,City,Height (meters),Height (feet),Year built
0,Building[5],Burj Khalifa,United Arab Emirates,Dubai,NaN,2722.0,2010
1,Compliant tower,Petronius,United States,Gulf of Mexico,640.0,2100.0,2000
2,Self-supporting tower[6],Tokyo Skytree,Japan,Tokyo,634.0,2080.0,2011
3,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",629.0,2063.0,1963
4,Hyperboloid structure,Canton Tower,China,Guangzhou,604.0,1982.0,2010
5,Clock tower,Abraj Al Bait,Saudi Arabia,Mecca,601.0,1972.0,2012
6,Fixed steel structure,Bullwinkle,United States,NaN,NaN,NaN,NaN
7,Moveable object,Troll A platform,Norway,North Sea,472.0,1549.0,1996

(b)	Find the number of rows and columns in tallest.

In [24]:
# WRITE YOUR CODE HERE
print("Number of rows are:",len(tallest))
print("Number of columns are:",len(tallest.columns))

Number of rows are: 56
Number of columns are: 7

(c)	Find which columns have missing values and how many of them?

In [25]:
# WRITE YOUR CODE HERE

missing_values = tallest.isnull().sum()

for column, count in missing_values.items():
    if count > 0:
        print(f"Column '{column}' has {count} missing values.")

Column 'Category' has 1 missing values.
Column 'Country' has 2 missing values.
Column 'City' has 7 missing values.
Column 'Height (meters)' has 8 missing values.
Column 'Height (feet)' has 2 missing values.
Column 'Year built' has 3 missing values.

(d)	Is there any duplicated data? **Permanently** remove the duplicate data if any.

In [26]:
# WRITE YOUR CODE HERE
duplicates = tallest.duplicated()

print("Duplicate Rows except first occurrence:")
duplicates

tallest.drop_duplicates(inplace=True)

print("DataFrame after removing duplicates:")
print(tallest)

Duplicate Rows except first occurrence:
DataFrame after removing duplicates:
                        Category  \
0                    Building[5]
1                Compliant tower
2       Self-supporting tower[6]
3       Guyed steel lattice mast
4          Hyperboloid structure
5                    Clock tower
6          Fixed steel structure
7                Moveable object
8                  Mast radiator
9                  Twin building
10             Steel building[7]
11                       Chimney
12                         Radar
13                 Lattice tower
14             Electricity pylon
15         Fixed steel structure
16         Partially guyed tower
17      Guyed tubular steel mast
18                        Bridge
19                           NaN
20                           Dam
21         Landmark Tower design
22           Elevator test tower
23                  Wind turbine
24             Solar power tower
25                         Crane
26                    Jackup rig
27                 Cooling tower
28                      Monument
29  Aerial tramway support tower
30                   Water tower
31                        Statue
32                 Masonry tower
33            Inclined structure
35                       Obelisk
36        Power station building
37                      Flagpole
38                  Ferris wheel
39              Masonry building
40               Industrial hall
41     Air traffic control tower
42                Roller coaster
43                          Tomb
44                    Drop tower
45                  Gantry crane
46                         Stupa
47              Wooden structure
48                  Storage silo
50                     Gasometer
51                   Clock tower
52                        Sphere
53                       Gopuram

                                            Structure               Country  \
0                                        Burj Khalifa  United Arab Emirates
1                                           Petronius         United States
2                                       Tokyo Skytree                 Japan
3                                        KVLY-TV mast         United States
4                                        Canton Tower                 China
5                                       Abraj Al Bait          Saudi Arabia
6                                          Bullwinkle         United States
7                                    Troll A platform                Norway
8                           Lualualei VLF transmitter         United States
9                                Petronas Twin Towers              Malaysia
10                                       Willis Tower         United States
11                     Ekibastuz GRES-2 Power Station            Kazakhstan
12                              Dimona Radar Facility                   NaN
13                                      Kyiv TV Tower               Ukraine
14               Jintang-Cezi Overhead Powerline Link                 China
15                                         Bullwinkle         United States
16                                    Gerbrandy Tower           Netherlands
17                                 TV Tower Vinnytsia               Ukraine
18                                     Millau Viaduct                France
19                                     Lakihegy Tower                   NaN
20                                      Jinping-I Dam                 China
21                                         Star Tower         United States
22                                           H1 Tower                 China
23                                Haliade-X Prototype           Netherlands
24          Mohammed bin Rashid Al Maktoum Solar Park  United Arab Emirates
25                                        LR 13000[8]               Germany
26                               Noble Lloyd Noble[9]               Liberia
27                    Kalisindh Thermal Power Station                 India
28                                       Gateway Arch         United States
29             Tower 2 of Ha Long Queen Cable Car[11]               Vietnam
30                        Main tower of Kuwait Towers                Kuwait
31                                    Statue of Unity                 India
32                             Anaconda Smelter Stack         United States
33                                    Olympic Stadium                Canada
35                               San Jacinto Monument         United States
36                         Niederaussem Power Station               Germany
37                                    Jeddah Flagpole          Saudi Arabia
38                                        High Roller         United States
39                                  Mole Antonelliana                 Italy
40                          Vehicle Assembly Building         United States
41  Kuala Lumpur International Airport 2 Control T...              Malaysia
42                                          Kingda Ka         United States
43                              Great Pyramid of Giza                 Egypt
44                            Zumanjaro: Drop of Doom         United States
45                                      Kockums Crane           South Korea
46                                     Jetavanaramaya             Sri Lanka
47                                Gliwice Radio Tower                Poland
48                                    Swissmill Tower           Switzerland
50                               Gasometer Oberhausen               Germany
51            Joseph Chamberlain Memorial Clock Tower        United Kingdom
52                                       Avicii Arena                Sweden
53                                Murudeshwara Temple                 India

                             City  Height (meters)  Height (feet)  Year built
0                           Dubai              NaN         2722.0        2010
1                  Gulf of Mexico           640.00         2100.0        2000
2                           Tokyo           634.00         2080.0        2011
3         Blanchard, North Dakota           629.00         2063.0        1963
4                       Guangzhou           604.00         1982.0        2010
5                           Mecca           601.00         1972.0        2012
6                             NaN              NaN            NaN         NaN
7                       North Sea           472.00         1549.0        1996
8               Lualualei, Hawaii           458.00         1503.0        1972
9                    Kuala Lumpur           452.00         1482.0        1998
10              Chicago, Illinois           442.00         1450.0        1974
11                      Ekibastuz           419.70         1377.0        1987
12                            NaN           400.00            NaN         NaN
13                           Kyiv           385.00         1263.0        1973
14                 Jintang Island           380.00         1247.0        2019
15                 Gulf of Mexico           529.00         1736.0        1988
16                    IJsselstein           366.80         1203.0        1961
17                      Vinnytsia           354.00         1161.0        1961
18                         Millau           342.00         1122.0        2004
19                            NaN              NaN         1031.0         NaN
20                      Liangshan           305.00         1001.0        2013
21                     Cincinnati           291.00          954.0        1991
22                      Guangzhou           273.80          898.0        2020
23                      Rotterdam           270.00          886.0        2019
24                  Saih Al-Dahal           262.00          860.0        2020
25                            NaN           248.00          814.0        2013
26                            NaN           214.00          702.0        2016
27                       Jhalawar              NaN          663.0        2012
28            St. Louis, Missouri           192.00          630.0        1965
29                            NaN           189.00          620.0        2016
30                    Kuwait City           187.00          614.0        1979
31      Narmada district, Gujarat              NaN          597.0        2018
32              Anaconda, Montana           178.30          585.0        1919
33                       Montreal           175.00          574.0        1976
35                La Porte, Texas           173.70          570.0        1939
36                       Bergheim           172.00          564.0        2002
37                         Jeddah              NaN          561.0        2014
38                      Las Vegas           167.60          550.0        2014
39                         Torino           167.50          550.0        1889
40  Kennedy Space Center, Florida           160.00          525.0        1966
41                         Sepang           141.30          463.6    2013[13]
42            Jackson, New Jersey           138.98          456.0        2005
43                           Giza           138.80          455.2    2560 BCE
44           Jackson Township, NJ           139.00          456.0        2014
45                          Ulsan              NaN          453.0        1974
46                   Anuradhapura           122.00          400.0  273â€“301 CE
47                        Gliwice           118.00          387.0        1935
48                         Zurich           118.00          387.0        2016
50                     Oberhausen           117.50          386.0        1929
51                     Birmingham              NaN          328.0        1908
52                      Stockholm            85.00          279.0        1989
53                   Murudeshwara            76.00          249.0        2008

(e)	**Permanently** delete all rows which contains at most three-observation data.

In [27]:
# WRITE YOUR CODE HERE
print("DataFrame before removing rows:")
tallest

DataFrame before removing rows:

,Category,Structure,Country,City,Height (meters),Height (feet),Year built
0,Building[5],Burj Khalifa,United Arab Emirates,Dubai,NaN,2722.0,2010
1,Compliant tower,Petronius,United States,Gulf of Mexico,640.00,2100.0,2000
2,Self-supporting tower[6],Tokyo Skytree,Japan,Tokyo,634.00,2080.0,2011
3,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",629.00,2063.0,1963
4,Hyperboloid structure,Canton Tower,China,Guangzhou,604.00,1982.0,2010
5,Clock tower,Abraj Al Bait,Saudi Arabia,Mecca,601.00,1972.0,2012
6,Fixed steel structure,Bullwinkle,United States,NaN,NaN,NaN,NaN
7,Moveable object,Troll A platform,Norway,North Sea,472.00,1549.0,1996
8,Mast radiator,Lualualei VLF transmitter,United States,"Lualualei, Hawaii",458.00,1503.0,1972
9,Twin building,Petronas Twin Towers,Malaysia,Kuala Lumpur,452.00,1482.0,1998
10,Steel building[7],Willis Tower,United States,"Chicago, Illinois",442.00,1450.0,1974
11,Chimney,Ekibastuz GRES-2 Power Station,Kazakhstan,Ekibastuz,419.70,1377.0,1987
12,Radar,Dimona Radar Facility,NaN,NaN,400.00,NaN,NaN
13,Lattice tower,Kyiv TV Tower,Ukraine,Kyiv,385.00,1263.0,1973
14,Electricity pylon,Jintang-Cezi Overhead Powerline Link,China,Jintang Island,380.00,1247.0,2019
15,Fixed steel structure,Bullwinkle,United States,Gulf of Mexico,529.00,1736.0,1988
16,Partially guyed tower,Gerbrandy Tower,Netherlands,IJsselstein,366.80,1203.0,1961
17,Guyed tubular steel mast,TV Tower Vinnytsia,Ukraine,Vinnytsia,354.00,1161.0,1961
18,Bridge,Millau Viaduct,France,Millau,342.00,1122.0,2004
19,NaN,Lakihegy Tower,NaN,NaN,NaN,1031.0,NaN
20,Dam,Jinping-I Dam,China,Liangshan,305.00,1001.0,2013
21,Landmark Tower design,Star Tower,United States,Cincinnati,291.00,954.0,1991
22,Elevator test tower,H1 Tower,China,Guangzhou,273.80,898.0,2020
23,Wind turbine,Haliade-X Prototype,Netherlands,Rotterdam,270.00,886.0,2019
24,Solar power tower,Mohammed bin Rashid Al Maktoum Solar Park,United Arab Emirates,Saih Al-Dahal,262.00,860.0,2020
25,Crane,LR 13000[8],Germany,NaN,248.00,814.0,2013
26,Jackup rig,Noble Lloyd Noble[9],Liberia,NaN,214.00,702.0,2016
27,Cooling tower,Kalisindh Thermal Power Station,India,Jhalawar,NaN,663.0,2012
28,Monument,Gateway Arch,United States,"St. Louis, Missouri",192.00,630.0,1965
29,Aerial tramway support tower,Tower 2 of Ha Long Queen Cable Car[11],Vietnam,NaN,189.00,620.0,2016
30,Water tower,Main tower of Kuwait Towers,Kuwait,Kuwait City,187.00,614.0,1979
31,Statue,Statue of Unity,India,"Narmada district, Gujarat",NaN,597.0,2018
32,Masonry tower,Anaconda Smelter Stack,United States,"Anaconda, Montana",178.30,585.0,1919
33,Inclined structure,Olympic Stadium,Canada,Montreal,175.00,574.0,1976
35,Obelisk,San Jacinto Monument,United States,"La Porte, Texas",173.70,570.0,1939
36,Power station building,Niederaussem Power Station,Germany,Bergheim,172.00,564.0,2002
37,Flagpole,Jeddah Flagpole,Saudi Arabia,Jeddah,NaN,561.0,2014
38,Ferris wheel,High Roller,United States,Las Vegas,167.60,550.0,2014
39,Masonry building,Mole Antonelliana,Italy,Torino,167.50,550.0,1889
40,Industrial hall,Vehicle Assembly Building,United States,"Kennedy Space Center, Florida",160.00,525.0,1966
41,Air traffic control tower,Kuala Lumpur International Airport 2 Control T...,Malaysia,Sepang,141.30,463.6,2013[13]
42,Roller coaster,Kingda Ka,United States,"Jackson, New Jersey",138.98,456.0,2005
43,Tomb,Great Pyramid of Giza,Egypt,Giza,138.80,455.2,2560 BCE
44,Drop tower,Zumanjaro: Drop of Doom,United States,"Jackson Township, NJ",139.00,456.0,2014
45,Gantry crane,Kockums Crane,South Korea,Ulsan,NaN,453.0,1974
46,Stupa,Jetavanaramaya,Sri Lanka,Anuradhapura,122.00,400.0,273â€“301 CE
47,Wooden structure,Gliwice Radio Tower,Poland,Gliwice,118.00,387.0,1935
48,Storage silo,Swissmill Tower,Switzerland,Zurich,118.00,387.0,2016
50,Gasometer,Gasometer Oberhausen,Germany,Oberhausen,117.50,386.0,1929
51,Clock tower,Joseph Chamberlain Memorial Clock Tower,United Kingdom,Birmingham,NaN,328.0,1908
52,Sphere,Avicii Arena,Sweden,Stockholm,85.00,279.0,1989
53,Gopuram,Murudeshwara Temple,India,Murudeshwara,76.00,249.0,2008

In [28]:
tallest = tallest[tallest.count(axis=1) > 3]
print("DataFrame after removing rows:")
tallest

DataFrame after removing rows:

,Category,Structure,Country,City,Height (meters),Height (feet),Year built
0,Building[5],Burj Khalifa,United Arab Emirates,Dubai,NaN,2722.0,2010
1,Compliant tower,Petronius,United States,Gulf of Mexico,640.00,2100.0,2000
2,Self-supporting tower[6],Tokyo Skytree,Japan,Tokyo,634.00,2080.0,2011
3,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",629.00,2063.0,1963
4,Hyperboloid structure,Canton Tower,China,Guangzhou,604.00,1982.0,2010
5,Clock tower,Abraj Al Bait,Saudi Arabia,Mecca,601.00,1972.0,2012
7,Moveable object,Troll A platform,Norway,North Sea,472.00,1549.0,1996
8,Mast radiator,Lualualei VLF transmitter,United States,"Lualualei, Hawaii",458.00,1503.0,1972
9,Twin building,Petronas Twin Towers,Malaysia,Kuala Lumpur,452.00,1482.0,1998
10,Steel building[7],Willis Tower,United States,"Chicago, Illinois",442.00,1450.0,1974
11,Chimney,Ekibastuz GRES-2 Power Station,Kazakhstan,Ekibastuz,419.70,1377.0,1987
13,Lattice tower,Kyiv TV Tower,Ukraine,Kyiv,385.00,1263.0,1973
14,Electricity pylon,Jintang-Cezi Overhead Powerline Link,China,Jintang Island,380.00,1247.0,2019
15,Fixed steel structure,Bullwinkle,United States,Gulf of Mexico,529.00,1736.0,1988
16,Partially guyed tower,Gerbrandy Tower,Netherlands,IJsselstein,366.80,1203.0,1961
17,Guyed tubular steel mast,TV Tower Vinnytsia,Ukraine,Vinnytsia,354.00,1161.0,1961
18,Bridge,Millau Viaduct,France,Millau,342.00,1122.0,2004
20,Dam,Jinping-I Dam,China,Liangshan,305.00,1001.0,2013
21,Landmark Tower design,Star Tower,United States,Cincinnati,291.00,954.0,1991
22,Elevator test tower,H1 Tower,China,Guangzhou,273.80,898.0,2020
23,Wind turbine,Haliade-X Prototype,Netherlands,Rotterdam,270.00,886.0,2019
24,Solar power tower,Mohammed bin Rashid Al Maktoum Solar Park,United Arab Emirates,Saih Al-Dahal,262.00,860.0,2020
25,Crane,LR 13000[8],Germany,NaN,248.00,814.0,2013
26,Jackup rig,Noble Lloyd Noble[9],Liberia,NaN,214.00,702.0,2016
27,Cooling tower,Kalisindh Thermal Power Station,India,Jhalawar,NaN,663.0,2012
28,Monument,Gateway Arch,United States,"St. Louis, Missouri",192.00,630.0,1965
29,Aerial tramway support tower,Tower 2 of Ha Long Queen Cable Car[11],Vietnam,NaN,189.00,620.0,2016
30,Water tower,Main tower of Kuwait Towers,Kuwait,Kuwait City,187.00,614.0,1979
31,Statue,Statue of Unity,India,"Narmada district, Gujarat",NaN,597.0,2018
32,Masonry tower,Anaconda Smelter Stack,United States,"Anaconda, Montana",178.30,585.0,1919
33,Inclined structure,Olympic Stadium,Canada,Montreal,175.00,574.0,1976
35,Obelisk,San Jacinto Monument,United States,"La Porte, Texas",173.70,570.0,1939
36,Power station building,Niederaussem Power Station,Germany,Bergheim,172.00,564.0,2002
37,Flagpole,Jeddah Flagpole,Saudi Arabia,Jeddah,NaN,561.0,2014
38,Ferris wheel,High Roller,United States,Las Vegas,167.60,550.0,2014
39,Masonry building,Mole Antonelliana,Italy,Torino,167.50,550.0,1889
40,Industrial hall,Vehicle Assembly Building,United States,"Kennedy Space Center, Florida",160.00,525.0,1966
41,Air traffic control tower,Kuala Lumpur International Airport 2 Control T...,Malaysia,Sepang,141.30,463.6,2013[13]
42,Roller coaster,Kingda Ka,United States,"Jackson, New Jersey",138.98,456.0,2005
43,Tomb,Great Pyramid of Giza,Egypt,Giza,138.80,455.2,2560 BCE
44,Drop tower,Zumanjaro: Drop of Doom,United States,"Jackson Township, NJ",139.00,456.0,2014
45,Gantry crane,Kockums Crane,South Korea,Ulsan,NaN,453.0,1974
46,Stupa,Jetavanaramaya,Sri Lanka,Anuradhapura,122.00,400.0,273â€“301 CE
47,Wooden structure,Gliwice Radio Tower,Poland,Gliwice,118.00,387.0,1935
48,Storage silo,Swissmill Tower,Switzerland,Zurich,118.00,387.0,2016
50,Gasometer,Gasometer Oberhausen,Germany,Oberhausen,117.50,386.0,1929
51,Clock tower,Joseph Chamberlain Memorial Clock Tower,United Kingdom,Birmingham,NaN,328.0,1908
52,Sphere,Avicii Arena,Sweden,Stockholm,85.00,279.0,1989
53,Gopuram,Murudeshwara Temple,India,Murudeshwara,76.00,249.0,2008

(f)	For missing data in column ``Height (meters)``:

    (i)	Get the row index of all missing values in Height (meters) and save in a list named missing_Height
    (ii)	Fill in the missing value with conversion of feet value in Height (feet) which having the index in missing_Height. The conversion rate is 1 feet = 0.3 meters.

*Ignore any warning if given by the Python*

In [29]:
# WRITE YOUR CODE HERE
tallest.index=list(range(0,tallest.shape[0]))
missing_Height=[]
Height=tallest.loc[:,'Height (meters)']
Category=tallest.loc[:,'Category']
bool_Height=Height.isnull()
n=-1
for i in bool_Height:
    n=n+1
    if(i==True):
        missing_Height.append(Category[n])
        tallest.loc[n,'Height (meters)']=tallest.loc[n,'Height (feet)']*0.3
print(missing_Height)
tallest

['Building[5]', 'Cooling tower', 'Statue', 'Flagpole', 'Gantry crane', 'Clock tower']

,Category,Structure,Country,City,Height (meters),Height (feet),Year built
0,Building[5],Burj Khalifa,United Arab Emirates,Dubai,816.60,2722.0,2010
1,Compliant tower,Petronius,United States,Gulf of Mexico,640.00,2100.0,2000
2,Self-supporting tower[6],Tokyo Skytree,Japan,Tokyo,634.00,2080.0,2011
3,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",629.00,2063.0,1963
4,Hyperboloid structure,Canton Tower,China,Guangzhou,604.00,1982.0,2010
5,Clock tower,Abraj Al Bait,Saudi Arabia,Mecca,601.00,1972.0,2012
6,Moveable object,Troll A platform,Norway,North Sea,472.00,1549.0,1996
7,Mast radiator,Lualualei VLF transmitter,United States,"Lualualei, Hawaii",458.00,1503.0,1972
8,Twin building,Petronas Twin Towers,Malaysia,Kuala Lumpur,452.00,1482.0,1998
9,Steel building[7],Willis Tower,United States,"Chicago, Illinois",442.00,1450.0,1974
10,Chimney,Ekibastuz GRES-2 Power Station,Kazakhstan,Ekibastuz,419.70,1377.0,1987
11,Lattice tower,Kyiv TV Tower,Ukraine,Kyiv,385.00,1263.0,1973
12,Electricity pylon,Jintang-Cezi Overhead Powerline Link,China,Jintang Island,380.00,1247.0,2019
13,Fixed steel structure,Bullwinkle,United States,Gulf of Mexico,529.00,1736.0,1988
14,Partially guyed tower,Gerbrandy Tower,Netherlands,IJsselstein,366.80,1203.0,1961
15,Guyed tubular steel mast,TV Tower Vinnytsia,Ukraine,Vinnytsia,354.00,1161.0,1961
16,Bridge,Millau Viaduct,France,Millau,342.00,1122.0,2004
17,Dam,Jinping-I Dam,China,Liangshan,305.00,1001.0,2013
18,Landmark Tower design,Star Tower,United States,Cincinnati,291.00,954.0,1991
19,Elevator test tower,H1 Tower,China,Guangzhou,273.80,898.0,2020
20,Wind turbine,Haliade-X Prototype,Netherlands,Rotterdam,270.00,886.0,2019
21,Solar power tower,Mohammed bin Rashid Al Maktoum Solar Park,United Arab Emirates,Saih Al-Dahal,262.00,860.0,2020
22,Crane,LR 13000[8],Germany,NaN,248.00,814.0,2013
23,Jackup rig,Noble Lloyd Noble[9],Liberia,NaN,214.00,702.0,2016
24,Cooling tower,Kalisindh Thermal Power Station,India,Jhalawar,198.90,663.0,2012
25,Monument,Gateway Arch,United States,"St. Louis, Missouri",192.00,630.0,1965
26,Aerial tramway support tower,Tower 2 of Ha Long Queen Cable Car[11],Vietnam,NaN,189.00,620.0,2016
27,Water tower,Main tower of Kuwait Towers,Kuwait,Kuwait City,187.00,614.0,1979
28,Statue,Statue of Unity,India,"Narmada district, Gujarat",179.10,597.0,2018
29,Masonry tower,Anaconda Smelter Stack,United States,"Anaconda, Montana",178.30,585.0,1919
30,Inclined structure,Olympic Stadium,Canada,Montreal,175.00,574.0,1976
31,Obelisk,San Jacinto Monument,United States,"La Porte, Texas",173.70,570.0,1939
32,Power station building,Niederaussem Power Station,Germany,Bergheim,172.00,564.0,2002
33,Flagpole,Jeddah Flagpole,Saudi Arabia,Jeddah,168.30,561.0,2014
34,Ferris wheel,High Roller,United States,Las Vegas,167.60,550.0,2014
35,Masonry building,Mole Antonelliana,Italy,Torino,167.50,550.0,1889
36,Industrial hall,Vehicle Assembly Building,United States,"Kennedy Space Center, Florida",160.00,525.0,1966
37,Air traffic control tower,Kuala Lumpur International Airport 2 Control T...,Malaysia,Sepang,141.30,463.6,2013[13]
38,Roller coaster,Kingda Ka,United States,"Jackson, New Jersey",138.98,456.0,2005
39,Tomb,Great Pyramid of Giza,Egypt,Giza,138.80,455.2,2560 BCE
40,Drop tower,Zumanjaro: Drop of Doom,United States,"Jackson Township, NJ",139.00,456.0,2014
41,Gantry crane,Kockums Crane,South Korea,Ulsan,135.90,453.0,1974
42,Stupa,Jetavanaramaya,Sri Lanka,Anuradhapura,122.00,400.0,273â€“301 CE
43,Wooden structure,Gliwice Radio Tower,Poland,Gliwice,118.00,387.0,1935
44,Storage silo,Swissmill Tower,Switzerland,Zurich,118.00,387.0,2016
45,Gasometer,Gasometer Oberhausen,Germany,Oberhausen,117.50,386.0,1929
46,Clock tower,Joseph Chamberlain Memorial Clock Tower,United Kingdom,Birmingham,98.40,328.0,1908
47,Sphere,Avicii Arena,Sweden,Stockholm,85.00,279.0,1989
48,Gopuram,Murudeshwara Temple,India,Murudeshwara,76.00,249.0,2008

(g)	For missing data in column City:


    (i)	Get the row index of all missing values in City and save in a list named missing_City
    (ii)	Fill in the missing value with the value in Country which having the index in missing_City

*Ignore any warning if given by the Python*

In [30]:
# WRITE YOUR CODE HERE
missing_City=[]
City=tallest.loc[:,'City']
Country=tallest.loc[:,'Country']
bool_City=City.isnull()
n=-1
for i in bool_City:
    n=n+1
    if(i==True):
        missing_City.append(Country[n])
        tallest.loc[n,'City']=tallest.loc[n,'Country']
print(missing_City)
tallest

['Germany', 'Liberia', 'Vietnam']

,Category,Structure,Country,City,Height (meters),Height (feet),Year built
0,Building[5],Burj Khalifa,United Arab Emirates,Dubai,816.60,2722.0,2010
1,Compliant tower,Petronius,United States,Gulf of Mexico,640.00,2100.0,2000
2,Self-supporting tower[6],Tokyo Skytree,Japan,Tokyo,634.00,2080.0,2011
3,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",629.00,2063.0,1963
4,Hyperboloid structure,Canton Tower,China,Guangzhou,604.00,1982.0,2010
5,Clock tower,Abraj Al Bait,Saudi Arabia,Mecca,601.00,1972.0,2012
6,Moveable object,Troll A platform,Norway,North Sea,472.00,1549.0,1996
7,Mast radiator,Lualualei VLF transmitter,United States,"Lualualei, Hawaii",458.00,1503.0,1972
8,Twin building,Petronas Twin Towers,Malaysia,Kuala Lumpur,452.00,1482.0,1998
9,Steel building[7],Willis Tower,United States,"Chicago, Illinois",442.00,1450.0,1974
10,Chimney,Ekibastuz GRES-2 Power Station,Kazakhstan,Ekibastuz,419.70,1377.0,1987
11,Lattice tower,Kyiv TV Tower,Ukraine,Kyiv,385.00,1263.0,1973
12,Electricity pylon,Jintang-Cezi Overhead Powerline Link,China,Jintang Island,380.00,1247.0,2019
13,Fixed steel structure,Bullwinkle,United States,Gulf of Mexico,529.00,1736.0,1988
14,Partially guyed tower,Gerbrandy Tower,Netherlands,IJsselstein,366.80,1203.0,1961
15,Guyed tubular steel mast,TV Tower Vinnytsia,Ukraine,Vinnytsia,354.00,1161.0,1961
16,Bridge,Millau Viaduct,France,Millau,342.00,1122.0,2004
17,Dam,Jinping-I Dam,China,Liangshan,305.00,1001.0,2013
18,Landmark Tower design,Star Tower,United States,Cincinnati,291.00,954.0,1991
19,Elevator test tower,H1 Tower,China,Guangzhou,273.80,898.0,2020
20,Wind turbine,Haliade-X Prototype,Netherlands,Rotterdam,270.00,886.0,2019
21,Solar power tower,Mohammed bin Rashid Al Maktoum Solar Park,United Arab Emirates,Saih Al-Dahal,262.00,860.0,2020
22,Crane,LR 13000[8],Germany,Germany,248.00,814.0,2013
23,Jackup rig,Noble Lloyd Noble[9],Liberia,Liberia,214.00,702.0,2016
24,Cooling tower,Kalisindh Thermal Power Station,India,Jhalawar,198.90,663.0,2012
25,Monument,Gateway Arch,United States,"St. Louis, Missouri",192.00,630.0,1965
26,Aerial tramway support tower,Tower 2 of Ha Long Queen Cable Car[11],Vietnam,Vietnam,189.00,620.0,2016
27,Water tower,Main tower of Kuwait Towers,Kuwait,Kuwait City,187.00,614.0,1979
28,Statue,Statue of Unity,India,"Narmada district, Gujarat",179.10,597.0,2018
29,Masonry tower,Anaconda Smelter Stack,United States,"Anaconda, Montana",178.30,585.0,1919
30,Inclined structure,Olympic Stadium,Canada,Montreal,175.00,574.0,1976
31,Obelisk,San Jacinto Monument,United States,"La Porte, Texas",173.70,570.0,1939
32,Power station building,Niederaussem Power Station,Germany,Bergheim,172.00,564.0,2002
33,Flagpole,Jeddah Flagpole,Saudi Arabia,Jeddah,168.30,561.0,2014
34,Ferris wheel,High Roller,United States,Las Vegas,167.60,550.0,2014
35,Masonry building,Mole Antonelliana,Italy,Torino,167.50,550.0,1889
36,Industrial hall,Vehicle Assembly Building,United States,"Kennedy Space Center, Florida",160.00,525.0,1966
37,Air traffic control tower,Kuala Lumpur International Airport 2 Control T...,Malaysia,Sepang,141.30,463.6,2013[13]
38,Roller coaster,Kingda Ka,United States,"Jackson, New Jersey",138.98,456.0,2005
39,Tomb,Great Pyramid of Giza,Egypt,Giza,138.80,455.2,2560 BCE
40,Drop tower,Zumanjaro: Drop of Doom,United States,"Jackson Township, NJ",139.00,456.0,2014
41,Gantry crane,Kockums Crane,South Korea,Ulsan,135.90,453.0,1974
42,Stupa,Jetavanaramaya,Sri Lanka,Anuradhapura,122.00,400.0,273â€“301 CE
43,Wooden structure,Gliwice Radio Tower,Poland,Gliwice,118.00,387.0,1935
44,Storage silo,Swissmill Tower,Switzerland,Zurich,118.00,387.0,2016
45,Gasometer,Gasometer Oberhausen,Germany,Oberhausen,117.50,386.0,1929
46,Clock tower,Joseph Chamberlain Memorial Clock Tower,United Kingdom,Birmingham,98.40,328.0,1908
47,Sphere,Avicii Arena,Sweden,Stockholm,85.00,279.0,1989
48,Gopuram,Murudeshwara Temple,India,Murudeshwara,76.00,249.0,2008

(h)	Show that there are no missing values in tallest.

In [31]:
# WRITE YOUR CODE HERE
from numpy import nan as NA
flag=0
bool_tallest=tallest.isnull()
for key,value in bool_tallest.iterrows():
    for i in value:
        if i==True:
            flag=1
if flag:
    print("There are still missing values in tallest.")
else:
    print("There's no missing value in tallest.")

There's no missing value in tallest.

(i)	Create a function named ``eliminate_ref``. This function will receive an array and perform these tasks:

    (i)  Find whether there is any reference attached to any string in the array given. Commonly, any references can be detected by a square bracket containing a number like [5] as shown in figure below.
    
<br>
<img src="Figure 7.png", style="width: 400px";>

    (ii) If there is any reference attached, replace the word with the original word but without the reference. Set inplace=True when performing the replace method.

Test your function using the codes given below.

In [32]:
# WRITE YOUR CODE HERE
import re
def eliminate_ref(arr):
    for i in range(len(arr)):
        ret = re.search(r'\[\d+\]', arr[i])
        if ret:
            substitution = re.sub(r'\[\d+\]', '', arr[i])
            arr[i] = substitution

In [33]:
# TEST YOUR CODE HERE

eliminate_ref(tallest['Category'])
eliminate_ref(tallest['Structure'])
tallest

<ipython-input-32-cc78461ba766>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arr[i] = substitution

,Category,Structure,Country,City,Height (meters),Height (feet),Year built
0,Building,Burj Khalifa,United Arab Emirates,Dubai,816.60,2722.0,2010
1,Compliant tower,Petronius,United States,Gulf of Mexico,640.00,2100.0,2000
2,Self-supporting tower,Tokyo Skytree,Japan,Tokyo,634.00,2080.0,2011
3,Guyed steel lattice mast,KVLY-TV mast,United States,"Blanchard, North Dakota",629.00,2063.0,1963
4,Hyperboloid structure,Canton Tower,China,Guangzhou,604.00,1982.0,2010
5,Clock tower,Abraj Al Bait,Saudi Arabia,Mecca,601.00,1972.0,2012
6,Moveable object,Troll A platform,Norway,North Sea,472.00,1549.0,1996
7,Mast radiator,Lualualei VLF transmitter,United States,"Lualualei, Hawaii",458.00,1503.0,1972
8,Twin building,Petronas Twin Towers,Malaysia,Kuala Lumpur,452.00,1482.0,1998
9,Steel building,Willis Tower,United States,"Chicago, Illinois",442.00,1450.0,1974
10,Chimney,Ekibastuz GRES-2 Power Station,Kazakhstan,Ekibastuz,419.70,1377.0,1987
11,Lattice tower,Kyiv TV Tower,Ukraine,Kyiv,385.00,1263.0,1973
12,Electricity pylon,Jintang-Cezi Overhead Powerline Link,China,Jintang Island,380.00,1247.0,2019
13,Fixed steel structure,Bullwinkle,United States,Gulf of Mexico,529.00,1736.0,1988
14,Partially guyed tower,Gerbrandy Tower,Netherlands,IJsselstein,366.80,1203.0,1961
15,Guyed tubular steel mast,TV Tower Vinnytsia,Ukraine,Vinnytsia,354.00,1161.0,1961
16,Bridge,Millau Viaduct,France,Millau,342.00,1122.0,2004
17,Dam,Jinping-I Dam,China,Liangshan,305.00,1001.0,2013
18,Landmark Tower design,Star Tower,United States,Cincinnati,291.00,954.0,1991
19,Elevator test tower,H1 Tower,China,Guangzhou,273.80,898.0,2020
20,Wind turbine,Haliade-X Prototype,Netherlands,Rotterdam,270.00,886.0,2019
21,Solar power tower,Mohammed bin Rashid Al Maktoum Solar Park,United Arab Emirates,Saih Al-Dahal,262.00,860.0,2020
22,Crane,LR 13000,Germany,Germany,248.00,814.0,2013
23,Jackup rig,Noble Lloyd Noble,Liberia,Liberia,214.00,702.0,2016
24,Cooling tower,Kalisindh Thermal Power Station,India,Jhalawar,198.90,663.0,2012
25,Monument,Gateway Arch,United States,"St. Louis, Missouri",192.00,630.0,1965
26,Aerial tramway support tower,Tower 2 of Ha Long Queen Cable Car,Vietnam,Vietnam,189.00,620.0,2016
27,Water tower,Main tower of Kuwait Towers,Kuwait,Kuwait City,187.00,614.0,1979
28,Statue,Statue of Unity,India,"Narmada district, Gujarat",179.10,597.0,2018
29,Masonry tower,Anaconda Smelter Stack,United States,"Anaconda, Montana",178.30,585.0,1919
30,Inclined structure,Olympic Stadium,Canada,Montreal,175.00,574.0,1976
31,Obelisk,San Jacinto Monument,United States,"La Porte, Texas",173.70,570.0,1939
32,Power station building,Niederaussem Power Station,Germany,Bergheim,172.00,564.0,2002
33,Flagpole,Jeddah Flagpole,Saudi Arabia,Jeddah,168.30,561.0,2014
34,Ferris wheel,High Roller,United States,Las Vegas,167.60,550.0,2014
35,Masonry building,Mole Antonelliana,Italy,Torino,167.50,550.0,1889
36,Industrial hall,Vehicle Assembly Building,United States,"Kennedy Space Center, Florida",160.00,525.0,1966
37,Air traffic control tower,Kuala Lumpur International Airport 2 Control T...,Malaysia,Sepang,141.30,463.6,2013[13]
38,Roller coaster,Kingda Ka,United States,"Jackson, New Jersey",138.98,456.0,2005
39,Tomb,Great Pyramid of Giza,Egypt,Giza,138.80,455.2,2560 BCE
40,Drop tower,Zumanjaro: Drop of Doom,United States,"Jackson Township, NJ",139.00,456.0,2014
41,Gantry crane,Kockums Crane,South Korea,Ulsan,135.90,453.0,1974
42,Stupa,Jetavanaramaya,Sri Lanka,Anuradhapura,122.00,400.0,273â€“301 CE
43,Wooden structure,Gliwice Radio Tower,Poland,Gliwice,118.00,387.0,1935
44,Storage silo,Swissmill Tower,Switzerland,Zurich,118.00,387.0,2016
45,Gasometer,Gasometer Oberhausen,Germany,Oberhausen,117.50,386.0,1929
46,Clock tower,Joseph Chamberlain Memorial Clock Tower,United Kingdom,Birmingham,98.40,328.0,1908
47,Sphere,Avicii Arena,Sweden,Stockholm,85.00,279.0,1989
48,Gopuram,Murudeshwara Temple,India,Murudeshwara,76.00,249.0,2008

Your output above should be as shown in figure below.

<br>
<img src="Figure 8.png", style="width: 400px";>